<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Welcome to Personal Site</h1>
  <ul>
    <li><a href="/notes">My Notes</a></li>
    <li><a href="/questions">Question Bank</a></li>
    <li><a href="/images">Images</a></li>
    <li><a href="/videos">Videos</a></li>
  </ul>
  <a href="/logout">Logout</a>
</body>
</html>
